.container {
  padding: 10px
}

.text {
  margin: 0;
  font-weight: bold;
}

.colorblue {
  color: blue;
}

.colororange {
  color: orange;
}

.underline {
  text-decoration: underline
}

label {
  margin: 10px;
}

.border {
  border: 1px solid #dddddd;
}